{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'music_app/style.css' %}">
    <script src="{% static 'music_app/script.js' %}" defer></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <title>Music App</title>
</head>
<body>
    <div id="player"></div>

     <form id="search-form">
        <input type="text" id="query" placeholder="Search for a song">
        <button type="submit">Search</button>
    </form>

    <div id="search-result"></div>

    <ul>
    {% for song in songs %}
        <li data-youtube-url="{{ song.youtube_url }}">{{ song.artist }} - {{ song.title }}</li>
    {% endfor %}
    </ul>


    <form method="POST">
        {% csrf_token %}
        <div>Search for a song using the title first and then the artist</div><br>
        <input type="text" name="query" placeholder="Search for a song">
        <button type="submit">Add Song</button>
    </form>

    <ul>
    {% for song in songs %}
        <li data-youtube-url="{{ song.youtube_url }}">{{ song.artist }} - {{ song.title }} - {{ song.youtube_url }}</li>
    {% endfor %}
    </ul>

    <script src="https://apis.google.com/js/client.js"></script>
</body>
</html>
